TENCENT_APPID=xxxxxxxx
TENCENT_SECRET_KEY=xxxxxxxx
TENCENT_SECRET_ID=xxxxxxxx
DASHSCOPE_API_KEY=xxxxxxxx
ORCAROUTER_API_KEY=xxxxxxxx
DOUBAO_API_KEY=xxxxxxxx
AZURE_SPEECH_KEY=xxxxxxxx
AZURE_TTS_ENDPOINT=xxxxxxxx